In [2]:
import pandas as pd
import numpy as np
import os

In [83]:
os.chdir(r'C:\Users\aciag\ih\Week4_project\data\terror_db')

In [84]:
df = pd.read_csv('globalterrorismdb_0718dist.csv', encoding='latin-1')

In [86]:
df.shape

(181691, 135)

In [87]:
df.isna().sum()

eventid            0
iyear              0
imonth             0
iday               0
approxdate    172452
               ...
INT_LOG            0
INT_IDEO           0
INT_MISC           0
INT_ANY            0
related       156653
Length: 135, dtype: int64

In [18]:
percent_missing = pd.DataFrame((df.isnull().sum() * 100 / len(df)).sort_values(ascending=False))

                      0
gsubname3         False
weapsubtype4_txt  False
weapsubtype4      False
weaptype4         False
weaptype4_txt     False
...                 ...
attacktype1        True
suicide            True
success            True
crit3              True
eventid            True

[135 rows x 1 columns]

In [88]:
## instread of dropping tons of columns and data, going to select only those rows that have Ukraine in country column

dfu=df.loc[df['country_txt'] == 'Ukraine']

In [89]:
dfu.shape

(1709, 135)

In [49]:
dfu.isna().sum()

eventid          0
iyear            0
imonth           0
iday             0
approxdate    1498
              ...
INT_LOG          0
INT_IDEO         0
INT_MISC         0
INT_ANY          0
related       1327
Length: 135, dtype: int64

In [80]:
drop_cols=pd.DataFrame(dfu.isnull().sum() * 100 / len(dfu))

drop_cols=drop_cols[drop_cols > 20]

#drop_cols=drop_cols.columns.tolist()

print(drop_cols)

                    0
eventid           NaN
iyear             NaN
imonth            NaN
iday              NaN
approxdate  87.653599
...               ...
INT_LOG           NaN
INT_IDEO          NaN
INT_MISC          NaN
INT_ANY           NaN
related     77.647747

[135 rows x 1 columns]

In [90]:
dfu=dfu.replace({'':np.nan})
dfu = dfu.dropna(thresh=0.25*len(dfu), axis=1)
dfu

,eventid,iyear,imonth,iday,extended,country,country_txt,region,region_txt,provstate,...,propvalue,propcomment,ishostkid,scite1,scite2,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
49249,199111270012,1991,11,27,0,214,Ukraine,9,Eastern Europe,Kharkiv,...,NaN,NaN,0.0,NaN,NaN,PGIS,-9,-9,1,1
49320,199112010015,1991,12,1,0,214,Ukraine,9,Eastern Europe,Kiev,...,NaN,NaN,0.0,NaN,NaN,PGIS,-9,-9,1,1
50833,199203300016,1992,3,30,0,214,Ukraine,9,Eastern Europe,Dnipropetrovsk,...,NaN,NaN,0.0,NaN,NaN,PGIS,-9,-9,0,-9
54892,199401180002,1994,1,18,0,214,Ukraine,9,Eastern Europe,Crimea,...,NaN,NaN,0.0,NaN,NaN,PGIS,-9,-9,0,-9
56369,199405210002,1994,5,21,0,214,Ukraine,9,Eastern Europe,Sevastopol,...,NaN,NaN,0.0,NaN,NaN,PGIS,-9,-9,0,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181020,201712030020,2017,12,3,0,214,Ukraine,9,Eastern Europe,Donetsk,...,-99.0,A filtration station was damaged in this attack.,0.0,"""Donetsk filtration station suffers another sh...",NaN,START Primary Collection,-9,-9,0,-9
181191,201712090027,2017,12,10,0,214,Ukraine,9,Eastern Europe,Lviv,...,-99.0,A bus was damaged in this attack.,0.0,"""Blast hits Polish tourist bus in Ukraine ahea...","""Klimkin strongly condemns attempt to blow up ...",START Primary Collection,-9,-9,1,1
181271,201712120032,2017,12,12,0,214,Ukraine,9,Eastern Europe,Odessa,...,-99.0,A vehicle was damaged in this attack.,0.0,"""Petrol bomb thrown at councillor's car in Ukr...",NaN,START Primary Collection,-9,-9,0,-9
181308,201712140022,2017,12,14,0,214,Ukraine,9,Eastern Europe,Rivne,...,-99.0,A house and vehicle were damaged in this attack.,0.0,"""Western Ukrainian city councillor's car, hous...","""21:54 14.12.2017 Rivne city council deputyÂ’s ...",START Primary Collection,-9,-9,0,-9
181660,201712300018,2017,12,30,0,214,Ukraine,9,Eastern Europe,Kharkiv,...,NaN,NaN,1.0,"""Hostages In Ukraine Freed After Police Storm ...","""Man takes hostages at Ukraine post office; so...",START Primary Collection,-9,-9,0,-9

In [51]:
dfu.shape

# shape changed from (1709, 135) before dropping to (1709, 65). Marging of emptiness 25%

(1709, 135)

In [91]:
dfu.drop_duplicates()

# no dupes

,eventid,iyear,imonth,iday,extended,country,country_txt,region,region_txt,provstate,...,propvalue,propcomment,ishostkid,scite1,scite2,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
49249,199111270012,1991,11,27,0,214,Ukraine,9,Eastern Europe,Kharkiv,...,NaN,NaN,0.0,NaN,NaN,PGIS,-9,-9,1,1
49320,199112010015,1991,12,1,0,214,Ukraine,9,Eastern Europe,Kiev,...,NaN,NaN,0.0,NaN,NaN,PGIS,-9,-9,1,1
50833,199203300016,1992,3,30,0,214,Ukraine,9,Eastern Europe,Dnipropetrovsk,...,NaN,NaN,0.0,NaN,NaN,PGIS,-9,-9,0,-9
54892,199401180002,1994,1,18,0,214,Ukraine,9,Eastern Europe,Crimea,...,NaN,NaN,0.0,NaN,NaN,PGIS,-9,-9,0,-9
56369,199405210002,1994,5,21,0,214,Ukraine,9,Eastern Europe,Sevastopol,...,NaN,NaN,0.0,NaN,NaN,PGIS,-9,-9,0,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181020,201712030020,2017,12,3,0,214,Ukraine,9,Eastern Europe,Donetsk,...,-99.0,A filtration station was damaged in this attack.,0.0,"""Donetsk filtration station suffers another sh...",NaN,START Primary Collection,-9,-9,0,-9
181191,201712090027,2017,12,10,0,214,Ukraine,9,Eastern Europe,Lviv,...,-99.0,A bus was damaged in this attack.,0.0,"""Blast hits Polish tourist bus in Ukraine ahea...","""Klimkin strongly condemns attempt to blow up ...",START Primary Collection,-9,-9,1,1
181271,201712120032,2017,12,12,0,214,Ukraine,9,Eastern Europe,Odessa,...,-99.0,A vehicle was damaged in this attack.,0.0,"""Petrol bomb thrown at councillor's car in Ukr...",NaN,START Primary Collection,-9,-9,0,-9
181308,201712140022,2017,12,14,0,214,Ukraine,9,Eastern Europe,Rivne,...,-99.0,A house and vehicle were damaged in this attack.,0.0,"""Western Ukrainian city councillor's car, hous...","""21:54 14.12.2017 Rivne city council deputyÂ’s ...",START Primary Collection,-9,-9,0,-9
181660,201712300018,2017,12,30,0,214,Ukraine,9,Eastern Europe,Kharkiv,...,NaN,NaN,1.0,"""Hostages In Ukraine Freed After Police Storm ...","""Man takes hostages at Ukraine post office; so...",START Primary Collection,-9,-9,0,-9

In [92]:
dfu.to_csv('terror_db_ua_clean.csv')

#exporting to csv